// .main {
//   background-color: lightblue;

//   .main-heading {
//     font-size: 2em;
//   }

//   .main-paragraph {
//     font-size: 1.4em;
//   }
// }

// .main,
// footer {
//   h1,
//   p {
//     letter-spacing: 1px;
//   }
// }

// &
// parent selector
// .main {
//   .container & {
//     background-color: rgb(116, 135, 141);
//   }
//   .main-heading {
//     font-size: 2em;
//   }

//   &:hover {
//     background-color: salmon;
//   }
// }

// .main {
//   #{&}-heading {
//     font-size: 2em;
//   }
//   #{&}-paragraph {
//     font-size: 1.4em;
//   }
// }

// .footer {
//   #{&}-heading {
//     font-size: 2em;
//   }
//   #{&}-paragraph {
//     font-size: 1.4em;
//   }
// }

// CSS Variables
// :root {
//   //root agar semua HTML punya akses ke CSS ini
//   --primary-color: white;
//   --secondary-color: salmon;
//   --text-color: lightsalmon;
// }

// body {
//   background-color: var(--primary-color);
// }

// h1 {
//   color: var(--text-color);
// }

// p {
//   color: var(--text-color);
// }

// SASS Variables
// $secondary-color: salmon;
// $text-color: lightsalmon;
// $primary-color: blue;

// body {
//   $primary-color: white !global;
//   background-color: $primary-color;
// }

// h1 {
//   color: $primary-color;
// }

// MAP
// $alert-danger: red;
// $alert-success: green;
// $alert-warning: yellow;

// $alert: (
//   "danger": red,
//   "success": green,
//   "warning": yellow,
// );

// h1 {
//   color: map-get($alert, "warning");
// }

// MIXIN
// Simple Mixin
@mixin inline-list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
  }
}

.header ul {
  @include inline-list();
  li {
    background-color: black;
    padding: 0.7em;
    a {
      color: white;
    }
  }
}

.footer ul {
  @include inline-list();
  li {
    padding: 0.4em;
    background-color: salmon;
    a {
      color: white;
      text-decoration: none;
    }
  }
}

// arguments pada mixin
@mixin flex-box($direction: row, $space: center) {
  display: flex;
  justify-content: $space;
  align-items: center;
  flex-direction: $direction;
}
.container {
  @include flex-box(row-reverse, space-around);
  width: 600px;
  height: 400px;
  background-color: blueviolet;
  .box {
    width: 60px;
    height: 60px;
    background-color: greenyellow;
    text-align: center;
    line-height: 60px;
  }
}
